/*	Vista con la estructura para mostrar las actividades.
	-El response como rows, se muestra a traves de un foreach con el campo: descripción

*/

extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    each actividad in actividades
      li #{actividad.descripcion}	