extends menu
block content
  //Contenido de Pagina
  div#page-wrapper
    div.container-fluid
      div.row
        div.col-lg-12
          h1 #{title}
          a(class='nav navbar-right top-nav' href='#' data-toggle="modal" data-target="#FAA" id='boton-agregar')
            i.material-icons.md-48#boton-agregar-actividad control_point
            p Agregar
          p La lista de actividades
      div.col-lg-12
        table.table.table-striped
          thead
            th  Nombre
            th  Descripcion
          tbody
            each actividad in actividades
              tr
                td(style='display:none;') #{actividad.idActividad}
                td #{actividad.nombre}
                td #{actividad.descripcion}
    //Modal
    div(id='FAA' class='modal fade' role='dialog')
      div.modal-dialog
        //Contenido modal
        div.modal-content
          div.modal-header
            button(type='button' class='close' data-dismiss="modal") &times;
            h4.modal-title Agregar Actividad
          form(action="/actividades/agregaactividad" method="post" onsubmit="return checkform(this);" id="AgregaActividad" enctype="multipart/form-data")
            div.modal-body 
              label Nombre
              input.form-control(type="text" name="nombreactividad" size="58")
              label Descripción 
              textarea.form-control(rows='5' cols='60' name="descripcionactividad")
              label Foto
              input(type="file" name="ima" size="58" )
            div.modal-footer
              button.btn.btn-primary(type="submit" ) Agregar
              button.btn.btn-default(type="button" data-dismiss="modal") Cerrar
    script(language="JavaScript" type="text/javascript").
      function checkform ( form ) {
        if(form.nombreactividad.value == "") {
          alert("Nombre de la Actividad Vacia");
          form.nombreactividad.focus();
          return false;
          }
        if(form.descripcionactividad.value == "") {
          alert("Descripcion de la Actividad Vacia");
          form.descripcionactividad.focus();
          return false;
        }
        if(form.Url.value == "") {
          alert("No hay foto que subir con la Actividad");
          form.Url.focus();
          return false;
        }
        else {
          return true;
          }
        }

      function resetform(){
        document.getElementById("AgregaActividad").reset();
      }
  //Cierro segundo col-lg -12 
  //Cierro Container Fluid
  //Containererro PageWrapper
  //Cierro Wrapper