extends menu
block content
  //Contenido de Pagina
  div#page-wrapper
    div.container-fluid
      div.row
        div#barra-de-actividades
          div.col-sm-12.col-md-8.col-md-offset-2
            i#actividad.fa.fa-fw.fa-edit.fa-5x.inline
            h1#h1Categorias #{titulo}
            a(class='nav navbar-right top-nav' href='#' data-toggle="modal" data-target="#FAC" id='boton-agregar')
              i.material-icons.md-48#boton-agregar-actividad control_point
              p Agregar
        //Contenido de la pagina
        div.col-sm-12.col-md-8.col-md-offset-2
          if actividades && actividades.length
            table.table.table-striped.table-bordered
              thead
                th  Nombre
                th
              tbody
          else
            p.watermark No se han encontrado categorias en el sistema.
    //Modal Modificar
    div(id='FAC' class='modal fade' role='dialog')
      div.modal-dialog
        //Contenido modal
        div.modal-content
          div.modal-header
            button(type='button' class='close' data-dismiss="modal") &times;
            h4.modal-title Agregar Categoria
          form(action="/categoria/agregacategoria" method="post" id="AgregaCategoria")
            div.modal-body
              label Nombre
              input.form-control(type="text" name="nombreCategoria" size="58" id="CAC")
            div.modal-footer
              button.btn.btn-primary(type="submit") Modificar
              button.btn.btn-default(type="button" data-dismiss="modal") Cerrar
