extend layout
//extend menu
block content
  div#page-wrapper
    div.content-fluid

  div
    table
      thead
        each number in ancho
          th number
      tbody
        each number in alto
          tr
            each row in ancho 
              td number
