extends layout
extends menu
block content
  //Contenido de Pagina
  title Nuevo módulo
  div#page-wrapper
    div.container-fluid
      div.row
        div.col-lg-12
          p #{error}
          header #{titulo}
      div.col-lg-12
        form#agregaModulo(name="agregaModulo", method="post", action="nuevo")
          input#nombre(type="text", placeholder="Nombre del módulo", name="nombre", required)
          input#numero(type="number", placeholder="Número del módulo", name="numero", min='1', max='999', required)
          button#submit(type="submit") Crear
  //Cierro segundo col-lg-12 
  //Cierro Container Fluid
  //Containererro PageWrapper
  //Cierro Wrapper
  //Jquery
  script(src='/bootstrap/js/jquery.js')
  //Bootstrap Core JS
  script(src='/bootstrap/js/bootstrap.min.js')
