extends menu
block content
  head
  link(rel='stylesheet', href="/stylesheets/qzar-modulos.css", type='text/css')
  div#page-wrapper
    if mensaje
      div.container
        div(class="alert alert-danger col-md-6 col-md-offset-3", role="alert")
          i(class="fa fa-exclamation-triangle")
          p.inline #{mensaje}
          p.message
          p.error.status
          pre #{error.stack}
