extend layout
extend menu
block content
  link(rel='stylesheet', href="/stylesheets/tableHuerta.css", type='text/css')
  div#page-wrapper
    // Modal huerta
    button.btn.btn-primary.btn-lg(type='button', data-toggle='modal', data-target='#myModal') Agregar Huerta
    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') &times;
              |         
              h4#myModalLabel.modal-title Forma Agregar Huerta
            |       
            form#formcrearHuerta(name="crearHuerta",method="post",action="/modulo/huerta/crear")
              .modal-body
                  input.form-control#inputAlto(type="text", placeholder="alto", name="alto")
                  input.form-control#inputAncho(type="text", placeholder="ancho", name="ancho")
              |       
              .modal-footer
                button.btn.btn-primary#btnSubmit(type="submit") submit
                button.btn.btn-default(type='button', data-dismiss='modal') Close
              |         
              //button.btn.btn-primary(type='submit') Save changes



    //h1 Forma de agregar huerta
    //form#formcrearHuerta(name="crearHuerta",method="post",action="/modulo/huerta/crear")
      //input#inputAlto(type="text", placeholder="alto", name="alto")
      //input#inputAncho(type="text", placeholder="ancho", name="ancho")
      //button#btnSubmit(type="submit") submit
