extends layout
block content
  div.top
    h1 #{titulo} 
    h2 #{mensaje}
    if usuario
      p #{usuario.nombre}
      a(href='/sesiones/cerrar') Cierra sesión
    else
      a(href='/sesiones') Inicia sesión
  div.container
    div.content
  div.footer
