extends layout
block content
  div.top
    if usuario
      p #{usuario.nombre}
      a(href='/sesiones/cerrar') Cierra sesión
    else
      div.container
        div.cuadro-inicio-sesion
          div.logo
          form.form-horizontal(method="post", id="loginForm", action = "/sesiones/iniciar")
            div.campo-usuario
              i.fa-user.fa
                input.span3(id="nombreUsuario", type="text", name="nombreUsuario", placeholder="Nombre de usuario", required)
            div.campo-contrasenia
              i.fa-unlock-alt.fa
                input.span3(id="contrasenia", type="password", name="contrasenia", placeholder="Contraseña", required)
            div.enviar
              input.btn(type="submit", value="Iniciar sesión")
  div.container
    div.content
  div.footer
