extends layout
block body
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
  
  //NAVIGATION barra de arriba SPACER
  div#wrapper
    nav(class='navbar navbar-inverse navbar-fixed-top' role='navigation' id='topbar')
      div(class='navbar-header')
        button(type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-ex1-collapse')
          span.sr-only Tog Navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(class='navbar-brand' href='#') 
          div#logo-img(alt='Logo')
        //LADO DERECHO
      ul(class='nav navbar-right top-nav')

        //TERCER ICONO USUARIO
        li.dropdown
          a(href='#' class='dropdown-toggle' data-toggle='dropdown')
            i(class='fa fa-user') &nbsp
            label  #{usuario.nombre}
            b.caret
          ul.dropdown-menu
            li
              a(href='#')
                i(class='fa fa-fw fa-user')
                label Profile
            li.divider
            li
              a(href='/sesiones/cerrar')
                i(class='fa fa-fw fa-power-off')
                label LOG OUT

      div(class='collapse navbar-collapse navbar-ex1-collapse')
        //MENU PRINCIPAL IZQUIERDO
        ul(class='nav navbar-nav side-nav')
          if !barraLateral
            li.activo
              a(href='#')
                i(class='fa fa-fw fa-dashboard')
                p.inline.leftsidebar INICIO
          else
            li
              a(href='#')
                i(class='fa fa-fw fa-dashboard')
                p.inline.leftsidebar INICIO
  
          // Modulos
          if barraLateral && barraLateral === 'modulos'
            li.activo
              a(href='/modulos')
                i(class='fa fa-fw fa-home')
                p.inline.leftsidebar MODULOS
          else
            li
              a(href='/modulos')
                i(class='fa fa-fw fa-home')
                p.inline.leftsidebar MODULOS

          // Huertas (???)
          // i(class='fa fa-fw fa-table')

          // Actividades
          if barraLateral && barraLateral === 'actividades'
            li.activo
              a(href='/actividades')
                i(class='fa fa-fw fa-edit')
                p.inline.leftsidebar ACTIVIDADES
          else
            li
              a(href='/actividades')
                i(class='fa fa-fw fa-edit')
                p.inline.leftsidebar ACTIVIDADES
    block content
