extends menu
block content
	title Error
	link(rel='stylesheet', href="/stylesheets/qzar-usuarios.css", type='text/css')

	div#page--wrapper
		div.container-fluid
			div.row
				p.watermark No tienes el permiso necesario para ver el contenido