body {
  background: #F1F1F1;
}

a {
  color: #00B7FF;
}

.inline {
	display: inline;
}

.alert p {
	margin-left: 10px;
}

.alert {
	margin: 10px;
}

textarea{
    resize: none;
}

#boton-agregar{
	display: block;
	padding: 3px;
	text-align: center;
}

#FAA input, #FAA textarea{
	display: block;
	width: 100%;
}

#boton-agregar-actividad {
    
    font-size: 48px
}