body {
  background: #F1F1F1;
}

a {
  color: #96B566;
}

.inline {
	display: inline;
}

/* Bootstrap Overwrites*/
a.navbar-brand{
	padding: 10px 5px;
}
/* End Bootstrap Overwrites*/



.alert p {
	margin-left: 10px;
}

.alert {
    margin-top: 64px;
    /*
    Lo siguiente existe, casi exclusivamente, por la login screen.
    Para ver a lo que me refiero, quita esta propiedad, y abre la login screen.
    Si afecta alguna otra parte del proyecto, no teman en modificarlo.
    */
    margin-bottom: -32px; 
}

textarea{
    resize: none;
}

#boton-agregar{
	display: block;
	padding: 3px;
	text-align: center;
}

#FAA input, #FAA textarea{
	display: block;
	width: 100%;
}

#boton-agregar-actividad {
    
    font-size: 48px
}

#barra-de-titulo > div{
    /*padding: 10px 0;*/
    display: flex;
    flex-direction: row;
    align-content: center;
    padding-top: 3vw
}

#h1Modulos{
	display: inline-block;
    margin: 0;
    font-size: 48px
}

#logo-img{
	background: url('../images/LogoQzarsinFondo.png') center center no-repeat;
	background-size: contain;
	height: 40px;
	width: 170px;
}

#barra-ver-modulos > div{
	display: flex;
    flex-direction: row;
    align-content: center;
    padding-top: 3vw;
    padding-bottom: 2vw
}

#h1VerModulos{
	display: inline-block;
    margin: 0;
    font-size: 48px
}

#icono{
	font-size: 48px
}

#barra-crear-huerta > div{
	display: flex;
    flex-direction: row;
    align-content: center;
    padding-top: 3vw;
    padding-bottom: 1vw
}

#h1CrearHuerta{
	display: inline-block;
    margin: 0;
    font-size: 48px
}

#barra-de-actividades{
    display: flex;
    flex-direction: row;
    align-content: center;
    padding-top: 3vw;
    padding-bottom: 1vw
}

#h1Actividades{
    display: inline-block;
    margin: 0;
    font-size: 48px
}

#actividad{
    font-size: 48px
}

#botones-modificar{
    width: 200px
}

#barra-de-titulo{
    display: inline;
    flex-direction: row;
    align-content: center;
    padding-top: 3vw;
    padding-bottom: 1vw;
}

#icono-modulo{
    font-size: 48px;
    vertical-align: top;
}

/* sbadmin+bootstrap overwrites */

#topbar {
    background-color: #C3C3C3;
    border-color: #808080;
}

.side-nav {
    background-color: #7C7C7C;
    border-right: 1px solid #AAAAAA;
} 

.activo {
    background-color: #668E39;
    /*background-color: #9BA2B2;*/
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.navbar-inverse .navbar-nav>li>a {
    color: #EEEEEE;
}

.navbar-inverse .navbar-nav>li.activo>a {
    color: white;
    /*margin-left: 15px;*/
    font-size: 15px; /*Esto es para que el texto de retroalimentacion este acuerdo con el tamaño del resto del menu*/
}

.side-nav li a:hover {
    background-color: #96B566 !important;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.side-nac li a {
    -webkit-transition: box-shadow 2s; /* Safari */
    transition: box-shadow 2s;
}

#full-clndr {
    margin-top: 32px;
}

div#retro-item-image{
    background-size: contain;
    height: 250px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.btn-primary {
    background-color: #668E39;
    border-color: #466E19;
}


/*Over ride del active de bootstrap*/
.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #96b566;
    border-color: #466E19;
}

#imagen-actividades{
    text-align: center;
}

/* http://www.colorcombos.com/color-schemes/170/ColorCombo170.html */
