#huerta{
	width: auto !important;
	max-width: auto !important;
}
.cuadrito{
	width: 50px;
	height: 30px;
    padding: 3px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

#formcrearHuerta input{
	display: block;
	width: 70%;
	margin-left: 5px;
	margin: 5px auto;
}
#listaCuadritos{
	display: inline-block;
	width: 70%;
	margin-left: 5px;
	margin-bottom: 20px;
}
#selectSector{
	display: inline-block;
	max-width: 67%;
	margin-left: 5px
}
.crear-labels{
	width: 30vh
}

.boton-crear-huerta{
	margin-top: 10px;
}
#huerta td{
	text-align: center
}
.poste {
    background-color: #96B566;
    padding: 12px;
    width: 60px;
    height: 42px;
    border-radius: 3px;
    display: inline-block;
    line-height: 12px;
    text-shadow: #393939 2px 2px 9px;
    font-size: 27px;
}

#huerta {
    border: 2px solid;
}

#rosavientos {
    background-image: url('../images/rosavientos.png');
    width:200px;
    height:200px;
    background-repeat: no-repeat;
    background-size: contain;
}

#mediaDeHuerta {
    margin: auto auto;
}